@use "../../styles//variables" as *;


.testimonialSection {
    width: 100%;
    display: flex;
    margin-bottom: 100px;

    .testimonialCard {
        width: 50%;
        padding: 60px 30px;
        padding-left: 150px;
        background-color: $colorWhite;
        border-radius: 10px;
        display: flex;
        margin-left: 50px;
        position: relative;

        &:nth-child(odd) {
            margin-right: 30px;
        }


        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -10%;
            width: 140px;
            height: auto;
            border-radius: 10px;
        }

    }

    .testimonialData {
        color: $colorGrey;

        .customerData {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            margin-top: 30px;

            .name {
                color: $colorBlack;
                font-weight: 700;

            }
        }

    }



}

.testimonialBg {
    width: 100%;
    background-image: url(../../assest/heroBanners/testimonialBg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media screen and (max-width: 1100px) {
    .testimonialSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .testimonialCard {
            width: 70%;
            padding-left: 150px;
            background-color: $colorWhite;
            margin-bottom: 10px;
            margin-left: 0;
            position: relative;

            &:last-child {
                margin-bottom: 0px;
            }

            &:nth-child(odd) {
                margin-right: 0px;
            }

            img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -10%;
                width: 140px;
                height: auto;
                border-radius: 10px;
            }


        }
    }

    .testimonialData {

        .customerData {
            margin-top: 30px;

        }

    }


}


@media screen and (max-width: 650px) {
    .testimonialSection {

        .testimonialCard {
            width: 95%;
            padding-left: 100px;
            padding-block: 30px;
            margin-bottom: 20px;

            img {
                width: 100px;
                left: -5%;

            }

        }
    }
}