@use "../../../styles/variables" as *;



.headingWrap {
    margin-bottom: 20px;


    .subHeading {
        color: $colorSec;
        font-family: $accFont;
    }

    // .mainHeading {
    //     text-align: center;
    // }


}