@use "../../../styles/variables" as *;

.projectCard {
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    text-decoration: none;

    &:hover {
        transform: translateY(-5px);

        .projectImage {
            transform: scale(1.05);
        }

        h3 {
            text-decoration-color: $colorWhite;
        }
    }
}

.projectImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.projectTitle {
    position: absolute;
    left: 10%;
    bottom: 7%;
    color: $colorWhite;
    margin: 0;
    z-index: 1;
    text-decoration: underline;
    transition: all 0.3s ease;
    text-decoration-color: transparent;
}


@media screen and (max-width: 1024px) {

    .projectImage {
        aspect-ratio: 3/4;
    }


    .projectTitle {
        left: 7%;
        bottom: 5%;
    }
}