@font-face {
    font-family: "Manrope";
    src: url(../assest/fonts/Manrope-VariableFont_wght.woff2) format('woff2');
    font-weight: 100 900;
}

@font-face {
    font-family: "Covered";
    src: url(../assest/fonts/CoveredByYourGrace-Regular.woff2) format('woff2');
    font-weight: 100 900;
}