// Colors 

$colorPri: #4BAF47;
$colorSec: #EDC044;
$colorTer: #C5CE38;
$colorBlack: #1F1e17;
$colorWhite :#FFFFFF;
$colorGrey: #878680;
$colorNav: #F8F7F0;

$colorFoot: #24231D;




// fonts

$mainFont: Manrope;
$accFont: Covered;