@use "../../styles/variables" as *;


.projectsGrid {
    display: grid;
    gap: 25px;
    width: 100%;
    margin: 100px 0;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}